<div class="col-md-4 offset-md-4">
  <h2 class="text-center pt-5">商品を作成する</h2>
  <%= render 'item_form' %>
</div>
<%# https://wonderful-tereshkova-38f91d.netlify.app/bootstrap%E3%82%92%E4%BD%BF%E3%81%A3%E3%81%A6%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%92%E6%95%B4%E3%81%88%E3%82%8B(%E3%83%91%E3%83%BC%E3%83%883)/ %>
