<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">最新商品</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <%= image_tag @latest_item.image, class: "card-img-top mb-5 mb-md-0" %>
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder"><%= @latest_item.name %></h5>
              <!-- Product price-->
              <%= "#{@latest_item.price}円" %>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><%= link_to '商品を見る', item_path(id: @latest_item.id), class: "btn btn-outline-dark mt-auto" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
